* {
  font-family: 'Roboto';
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  background-color: white;
  color: gray;
  margin-top: 20px;
  font-size: 1.5rem; 
}
.logo {
  display: flex;
  text-align: left;
  color: rgb(56, 150, 150);
  align-items: center;
  margin-right: 10px;  
  font-weight: bold;
  font-size: 2rem;
}
.links a {
  text-decoration: none;
  color: gray;
  display: flex;
  gap: 20px;
}
.links {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-left: 20px;
}
.links a:hover {
  color: black;
  font-weight: bold;
}
p {
  margin: 0;
  cursor: pointer;
}
.buttons {
  display: flex;
  gap: 20px;
}
.buttons a {
  text-decoration: none;
  color: gray;
  display: flex;
  gap: 20px;
}
.signin {
  border: 1px solid white;
  border-radius: 5px;
  padding: 8px 15px;
  text-decoration: none;
  color: black;
  /* font-size: 2rem; */
}

.signup {
  background-color: aqua;
  color: white;
  border-radius: 10px;
  padding: 8px 15px;
  text-decoration: none;

}
.signin:hover {
  background-color: white;
  color: #333;
  font-weight: bold;
}

.signup:hover {
  font-weight: bold;
}
.container {
  position:relative;
  margin-left: 55px;
  margin-right: 55px;
  max-width: 1800px;
  /* margin: auto; */
}
.Banner {
  height: 700px; 
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0;
}

.Banner img {
  width: 100%;
  height: 750px; 
  border-radius: 40px;
  object-fit: cover; 
}

.banner-heading, .banner-subheading {
  position: absolute;
  color: white;
  text-align: center;
}

.banner-heading{
  margin: 0;
  top:25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner-heading h3{
  font-weight: bold;
  font-size : 5rem;
}

.banner-subheading {
  margin-top: 15px;
  top:45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}
.banner-subheading p{
  font-size : 1.8rem;
}
.search-card {
  position: absolute;
  bottom: -150px; 
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  background: white;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15); 
  border-radius: 30px;
  padding: 40px; 
  display: flex;
  flex-direction: column;
  gap: 20px; 
  height: auto;
}

.tabs {
  display: flex;
  gap: 25px; 
  border-bottom: 2px solid #ddd;
  padding-bottom: 15px; 
  justify-content: start; 
  gap: 50px;
}

.tabs span {
  font-size: 1.5rem;
  cursor: pointer;
  opacity: 0.6;
  padding-bottom: 8px; 
}

.tabs .active {
  opacity: 1;
  border-bottom: 3px solid blue; 
}

.search-fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}

.field {
  flex: 1;
  min-width: 180px; 
  padding: 15px; 
  border-radius: 8px;
}

.field span {
  font-size: 1.3rem;
  color: gray;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.field select, .field input {
  width: 80%;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f7f7f7;
  margin-top: 10px;
}

.search-btn {
  background: #00bcd4;
  color: white;
  padding: 12px ;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.5rem;
  width: 15%;
  align-self:end;
  margin-bottom: 15px;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}
.header {
  margin-top: 100px;
  margin-bottom: 40px;
}

.header h1 {
  font-size: 4rem;
  color: #222;
  margin-bottom: 12px;
}

.header p {
  font-size: 2.1rem;
  color: #777;
}

.header_1{
  margin-top: 100px;
  margin-bottom: 40px;
  margin: auto;
  text-align: center;
}
.header_1 h1{
  font-size: 4rem;
  color: #222;
  margin-bottom: 12px;
}
.header_1 p {
  font-size: 2.1rem;
  color: #777;
}
.discription{
    margin-top: 100px;
    margin-right : 40px;
    justify-content:center ;
    
}
.discription p {
  font-size: 1.5rem;
  color: #777;
}
.places-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.place-card {
  border-radius: 15px;
  width: 350px;
  padding: 15px;
  text-align: center;
}
.image-container {
  position: relative;
  width: 350px;
}

.image-container img {
  width: 100%;
  height: 300px;
  border-radius: 30px;
}
.discount {
  position: absolute;
  top: 20px;
  right: 20px;
  background: white;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  padding: 5px 8px;
  border-radius: 15px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}
.place-card h3 {
  text-align: start;
  margin: 10px 0 5px;
  font-size: 1.4rem;
}

.location {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1rem; 
    color: #777;
}

.location img {
    width: 16px; 
    height: 16px; 
    margin-right: 8px; 
}

.location p {
    font-size: 1.2rem; 
    margin: 0; 
    color: #777;
}

.popular-places{
    margin-top: 200px;
}

.explore-section {
  width: 95%;
  margin: auto;
  padding: 40px 0px;
  display: grid;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 5px;
}

.subtext {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 10px;
}

.description {
  font-size: 1.2rem;
  color: #888;
  max-width: 650px;
  align-self: center;
  margin-bottom: -80px;
}

.filters {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 40px;
}

.filter {
  background: #f0f0f0;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.filter:hover,
.filter.active {
  background: black;
  color: white;
}

.filter-icon {
  background: white;
  border: 1px solid #ddd;
}

.destination-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 50px 90px;
  margin-top: 20px;
}

.destination-card {
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s;
  text-align: left;
  position: relative;
  padding: 2px;
}

.destination-card:hover {
  transform: translateY(-5px);
}

.destination-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}

.card-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card-content h3 {
  margin: 0;
  font-size: 1.4rem;
}

.location-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
  white-space: nowrap; 

}
.test{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rating {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  color: rgb(17, 17, 17);
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 1rem;
}

.show-more {
  margin: 20px auto;
  padding: 10px 20px;
  border: 1px solid #ccc;
  background: white;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.5rem;
  transition: 0.3s;
  display: block;
  width: fit-content;
}

.show-more:hover {
  background: black;
  color: white;
}
footer {
    border-top: 1px solid #444;
    background-color: #ffffff;
    color: #000000;
    padding: 40px 20px; 
    font-family: Arial, sans-serif;
    margin-top: 50px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-section {
    flex: 1;
    min-width: 280px;
    padding: 20px; 
}

.footer-section h4 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}

.footer-section p {
    font-size: 15px;
    line-height: 1.8; 
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 20px; 
    font-size: 15px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 15px;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}
.footer-icons {
  margin-top: 20px; 
}

.footer-icons .icon {
  display: inline-block;
  margin: 0 10px; 
}

.footer-icons img {
  width: 40px; 
  height: 40px; 
  transition: transform 0.3s ease; 
}

.footer-icons img:hover {
  transform: scale(1.1); 
}

.newsletter-form {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
  border: 1px solid #ccc;
  border-radius: 8px; 
  overflow: hidden;
  padding: 8px;
  width: 100%;
  max-width: 350px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds shadow behind the input box */
}

.newsletter-form input {
  flex: 1;
  padding: 12px;
  border: none;
  font-size: 16px; 
  color: #555; 
  outline: none;
  background-color: #fff; 
}

.newsletter-form button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #007BFF; 
  border-radius: 50%; 
}

.newsletter-form button img {
  width: 26px;
  height: 26px;
  border-radius: 50%; /
}

.travel-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
}
.text-content {
    max-width: 600px;
    margin-top: 40px;
}
.travel-heading {
    text-align: center;
    margin-top: 60px;
    font-size: 4rem;
}
.subtitle{
    text-align: center;
    font-size: 2em;
    color: #777;
    margin-bottom: 80px;
}
.feature {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.number {
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 8px 18px;
    border-radius: 15px;
    margin-right: 15px;
    text-align: left;
    width: fit-content;
    margin-bottom: 35px;
}

.blue { background: #4daaff; }
.purple { background: #9059ff; }
.green { background: #2dc95c; }

.feature-text h3 {
    font-size: 2.2rem;
    margin-bottom: 25px;
}

.feature-text p {
    color: #888;
    font-size: 1.6rem;
    font-weight: lighter;
}

.explore-btn {
    background: #0099ff;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}
.imagecontainer {
    overflow-x: visible;
    overflow-y: visible ;
    position: relative;
    width: 500px;
    border-radius: 20px;
    height: auto;
}
.imagecontainer img {
    width: 100%;
    border-radius: 20px;
    height: 850px;
}
.review {
    background: rgba(255, 255, 255, 0.95);
    position: absolute;
    padding: 8px 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    font-weight: bold;
}
.review p{
  line-height: 1.5;
}
.review img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 8px;
    z-index: 1;
    margin-right: 15px;
}
.review1 { top: 20%; left: -120px; }
.review2 { top: 50%; right: -80px;}
.review3 { 
  bottom: 20%;
  left: -120px; 
}

.booking-section {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 20px auto;
  align-items: start;
}

.booking-title {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 20px;

}

.book-btn {
  align-self: center;
  height: auto;
  background-color: #00a8cc;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1.6rem;
}

.book-btn:hover {
  background-color: #0088aa;
}

.video-container {
  width: 100%;
  width: 90%;
  max-height: auto; 
  margin: auto;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.video-container video {
  width: 100%;
  height: 1auto;
  object-fit: contain; 
  align-items: center;
}

.stamp-container{
  margin-top: 60px;
  margin-bottom: 150px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  border-bottom: 1px solid;
  padding-bottom: 40px;
}
.stamp-cards{
  background-color: rgb(246, 238, 226);
  border-radius: 15px;
  width: 250px;
  padding: 15px;
  text-align: center;
  margin-inline: auto;
  border: 2px black;
  border-style: dashed; 
  position: relative;
}
.stamp-cards img {
  width: 250px;
  max-width: 100%;
  height: 250px;
  /* border-radius: 40px; */
}

.stamp-cards p{
  font-size: 1.6rem;
}
.stamp-cards .small-photo {
  position: absolute;
  top: -40px;
  left: -40px;
  width: 100px; 
  height: 100px; 
}

.stamp-cards .small-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  transform: rotate(40deg); 
}
