* {
  font-family: 'Roboto';
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  background-color: white;
  color: gray;
  margin-top: 20px;
  font-size: 1.5rem;
}

.logo {
  display: flex;
  text-align: left;
  color: rgb(56, 150, 150);
  align-items: center;
  margin-right: 10px;
  font-weight: bold;
  font-size: 2rem;
}

.links a {
  text-decoration: none;
  color: gray;
  display: flex;
  gap: 20px;
}

.links {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-left: -250px;
}

.links a:hover {
  color: black;
  font-weight: bold;
}

p {
  margin: 0;
  cursor: pointer;
}

.buttons {
  display: flex;
  gap: 20px;
}

.buttons a {
  text-decoration: none;
  color: gray;
  display: flex;
  gap: 20px;
}

.signin {
  border: 1px solid white;
  border-radius: 5px;
  padding: 8px 15px;
  text-decoration: none;
  color: black;
  /* font-size: 2rem; */
}

.signup {
  background-color: aqua;
  color: white;
  border-radius: 10px;
  padding: 8px 15px;
  text-decoration: none;

}

.signin:hover {
  background-color: white;
  color: #333;
  font-weight: bold;
}

.signup:hover {
  font-weight: bold;
}

.container {
  position: relative;
  margin-left: 55px;
  margin-right: 55px;
  /* max-width: 1800px; */
  /* margin: auto; */
}

.Banner {
  height: 70vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0;
  border: 2px red;

}

.Banner img {
  width: 100%;
  height: 76vh;
  border-radius: 40px;
  /* object-fit: cover;  */
}

.banner-heading,
.banner-subheading {
  position: absolute;
  color: white;
  text-align: center;
}

.banner-heading {
  margin: 0;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-heading h3 {
  font-weight: bold;
  font-size: 4vw;
}

.banner-subheading {
  margin-top: 15px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.banner-subheading p {
  font-size: 1.2vw;
}

.search-card {
  position: absolute;
  bottom: -150px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  background: white;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  padding: 2.5vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
}

.tabs {
  display: flex;
  gap: 25px;

  /* padding-bottom: 15px;  */
  justify-content: start;
  gap: 50px;
}

.tabss {
  color: #777;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #ddd;
  padding-bottom: 15px;

}

.tabs span {
  font-size: 1.5rem;
  cursor: pointer;
  opacity: 0.6;
  padding-bottom: 6px;
}

.tabs-search span {
  font-size: 1.3rem;
  cursor: pointer;
  opacity: 0.6;
  padding-bottom: 8px;
}

.tabs .active:hover {
  opacity: 1;
  border-bottom: 3px solid blue;
}

.tabs-search .active:hover {
  opacity: 1;
  border-bottom: 3px solid blue;
}

.search-fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}

.field {
  flex: 1;
  min-width: 180px;
  padding: 8px;
  border-radius: 8px;
}

.field span {
  font-size: 1.3rem;
  color: gray;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.field select,
.field input {
  width: 80%;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f7f7f7;
  margin-top: 10px;
}

.search-btn {
  background: #00bcd4;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.5rem;
  width: 15%;
  align-self: end;
  margin-bottom: 15px;
}

.header-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.header {
  margin-top: 100px;
  margin-bottom: 40px;
}

.header h1 {
  font-size: 4rem;
  color: #222;
  margin-bottom: 12px;
}

.header p {
  font-size: 2.1rem;
  color: #777;
}

.header_1 {
  margin-top: 100px;
  margin-bottom: 40px;
  margin: auto;
  text-align: center;
}

.header_1 h1 {
  font-size: 4rem;
  color: #222;
  margin-bottom: 12px;
}

.header_1 p {
  font-size: 2.1rem;
  color: #777;
}

.discription {
  margin-top: 100px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 650px;


}

.discription p {
  font-size: 1.5rem;
  color: #777;
}

.places-container {
  display: flex;
  /* grid-template-columns: repeat(4, 1fr); */
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.place-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  width: 350px;
  padding: 15px;
  text-align: center;
}

.image-container {
  position: relative;
  width: 350px;
}

.image-container img {
  width: 100%;
  height: 300px;
  border-radius: 30px;
}

.discount {
  position: absolute;
  top: 20px;
  right: 20px;
  background: white;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  padding: 5px 8px;
  border-radius: 15px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

.place-card h3 {
  text-align: start;
  margin: 10px 0 5px;
  font-size: 1.4rem;
}

.location {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1rem;
  color: #777;
}

.location img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.location p {
  font-size: 1.2rem;
  margin: 0;
  color: #777;
}

.popular-places {
  margin-top: 200px;
}

.explore-section {
  width: 95%;
  margin: auto;
  padding: 40px 0px;
  display: grid;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 5px;
}

.subtext {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 10px;
}

.description {
  font-size: 1.2rem;
  color: #888;
  max-width: 650px;
  align-self: center;
  margin-bottom: -80px;
}

.filters {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 40px;
}

.filterss {
  display: flex;
  justify-content: space-between;
}

.filter {
  background: #f0f0f0;
  border: none;
  padding: 12px 18px;
  border-radius: 16px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
}

.filter:hover,
.filter.active {
  background: black;
  color: white;
}

.filter-icon {
  background: white;
  border: 1px solid #ddd;
}

.destination-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 90px;
  margin-top: 20px;
}

.destination-card {
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s;
  text-align: left;
  position: relative;
  padding: 2px;
}

.destination-card:hover {
  transform: translateY(-5px);
}

.destination-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}

.card-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card-content h3 {
  margin-bottom: 5px;
  font-size: 1.4rem;
}

.location-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
  white-space: nowrap;

}

.test {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  color: rgb(17, 17, 17);
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 1rem;
}
.show-more-btn{
  display: flex;
  width: 100%;
  justify-content: center;
  grid-column: span 3;
}
.show-more {
  margin: 20px auto;
  padding: 10px 20px;
  border: 1px solid #ccc;
  background: white;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.5rem;
  transition: 0.3s;
  display: block;
  width: fit-content;
}

.show-more:hover {
  background: black;
  color: white;
}

footer {
  border-top: 1px solid #444;
  background-color: #ffffff;
  color: #000000;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  margin-top: 50px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.footer-section {
  flex: 1;
  min-width: 280px;
  padding: 20px;
}

.footer-section h4 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
}

.footer-section p {
  font-size: 15px;
  line-height: 1.8;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 20px;
  font-size: 15px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 15px;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-icons {
  margin-top: 20px;
}

.footer-icons .icon {
  display: inline-block;
  margin: 0 10px;
}

.footer-icons img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}

.footer-icons img:hover {
  transform: scale(1.1);
}

.newsletter-form {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  padding: 8px;
  width: 100%;
  max-width: 350px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.newsletter-form input {
  flex: 1;
  padding: 12px;
  border: none;
  font-size: 16px;
  color: #555;
  outline: none;
  background-color: #fff;
}

.newsletter-form button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #007BFF;
  border-radius: 50%;
}

.newsletter-form button img {
  width: 26px;
  height: 26px;
  border-radius: 50%;/
}

.travel-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto;
}

.text-content {
  max-width: 600px;
  margin-top: 40px;
}

.travel-heading {
  text-align: center;
  margin-top: 60px;
  font-size: 4rem;
}

.subtitle {
  text-align: center;
  font-size: 2em;
  color: #777;
  margin-bottom: 80px;
}

.feature {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.number {
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding: 8px 18px;
  border-radius: 15px;
  margin-right: 15px;
  text-align: left;
  width: fit-content;
  margin-bottom: 35px;
}

.blue {
  background: #4daaff;
}

.purple {
  background: #9059ff;
}

.green {
  background: #2dc95c;
}

.feature-text h3 {
  font-size: 2.2rem;
  margin-bottom: 25px;
}

.feature-text p {
  color: #888;
  font-size: 1.6rem;
  font-weight: lighter;
}

.explore-btn {
  background: #0099ff;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 12px;
  font-size: 1.3rem;
  cursor: pointer;
}

.imagecontainer {
  overflow-x: visible;
  overflow-y: visible;
  position: relative;
  width: 500px;
  border-radius: 20px;
  height: auto;
}

.imagecontainer img {
  width: 100%;
  border-radius: 20px;
  height: 90%;
}

.review {
  background: rgba(255, 255, 255, 0.93);
  position: absolute;
  padding: 8px 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  gap: 5px;
}

.review p {
  line-height: 1.5;
}

.review img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 8px;
  z-index: 1;
  margin-right: 15px;
}

.review1 {
  top: 20%;
  left: -120px;
}

.review2 {
  top: 50%;
  right: -80px;
}

.review3 {
  bottom: 20%;
  left: -120px;
}

.booking-section {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 20px auto;
  align-items: start;
}

.booking-title {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 20px;

}

.book-btn {
  align-self: center;
  height: auto;
  background-color: #00a8cc;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1.6rem;
}

.book-btn:hover {
  background-color: #0088aa;
}

.video-container {
  width: 100%;
  width: 90%;
  max-height: auto;
  margin: auto;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.video-container video {
  width: 100%;
  height: 1auto;
  object-fit: contain;
  align-items: center;
}

.stamp-container {
  margin-top: 60px;
  margin-bottom: 150px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  border-bottom: 1px solid;
  padding-bottom: 40px;
}

.stamp-cards {
  background-color: rgb(246, 238, 226);
  border-radius: 15px;
  width: 250px;
  padding: 15px;
  text-align: center;
  margin-inline: auto;
  border: 2px black;
  border-style: dashed;
  position: relative;
}

.stamp-cards img {
  width: 250px;
  max-width: 100%;
  height: 250px;
  /* border-radius: 40px; */
}

.stamp-cards p {
  font-size: 1.6rem;
}

.stamp-cards .small-photo {
  position: absolute;
  top: -40px;
  left: -40px;
  width: 100px;
  height: 100px;
}

.stamp-cards .small-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  transform: rotate(40deg);
}

@media(max-width:1350px) {
  .header h1 {
    font-size: 2.4rem;
    margin-bottom: 10px;
  }

  .header p {
    font-size: 1.6rem;
    color: #777;
  }

  .discription p {
    font-size: 1.2rem;
  }
}

@media (max-width: 1250px) {
  .links{
    margin-left: -30px;
  }
  
  .Banner {
    height: 80vh;
  }

  .banner-heading h3 {
    font-size: 4.5vw;
  }

  .banner-subheading p {
    font-size: 1.8vw;
  }

  .tabs span {
    font-size: 1.2rem;
  }

  .tabs-search {
    display: none;
  }

  .search-fields {
    gap: 2px;
    justify-content: center;
  }
  .explore-section{
    padding-top: 10px;
  }
  .header-container{
    /* display: block; */
  }

  .header h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .header p {
    font-size: 1.2rem;
    color: #777;
  }

  .discription {
    margin-top: 100px;
    margin-right: 10px;
    justify-content: center;
  }

  .discription p {
    font-size: 1rem;
  }

  .travel-heading {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.2rem;

  }
  .text-content{
    margin-top: 10px;
    max-width: 400px;
    height: auto;

  }

  .feature-text h3 {
    font-size: 1.8rem;
    margin-bottom: 25px;
  }
  
  .feature-text p {
    color: #888;
    font-size: 1rem;
    font-weight: lighter;
  }
  .number{
    font-size: 16px;
  }
  .feature{
    margin-bottom: 30px;
  }
  .imagecontainer {
    width: 400px;
  }

  .imagecontainer img {
    height: 700px;
  }

  .review {
    padding: 6px 15px;
    font-size: 1rem;
  }

  .review1 {
    top: 15%; 
    left: -80px; 
  }

  .review2 {
    top: 45%; 
    right: -50px; 
  }

  .review3 {
    bottom: 15%; 
    left: -80px; 
  }

  .review img {
    width: 40px; 
    height: 40px; 
    margin-right: 12px; 
  .destination-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 90px;
    margin-top: 20px;
  }
  .filters {
    gap: 15px;
    margin-bottom: 20px;
  }
  .filter {
    padding: 10px 12px;
    font-size: 14px;
  }
  .description {
    font-size: 1rem;
    max-width: 650px;
    align-self: center;
    margin-bottom: -80px;
  }
  .show-more-btn{
    grid-column: span 2;
  }
  .booking-title {
    font-size: 2.7rem;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .destination-grid{
    grid-template-columns: repeat(2,1fr);
  }
  }


@media (max-width : 920px) {
  /* .navbar {
    display: none;
  } */
  .destination-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}
  .links a{
    font-size: 1.4rem;
  }
  .signin{
    font-size: 1.4rem;
  }
  .signup{
  padding: 8px 10px;
  font-size: 1.4rem;
  text-align: center;

  }
  .field span {
    font-size: 1rem;
  }

  .field select,
  .field input {
    padding: 10px 20px;
    font-size: 0.9rem;
  }

  .search-btn {
    padding: 5px;
    font-size: 0.9rem;
    width: 10%;
    margin-bottom: 5px;
  }

  .tabs span {
    font-size: 1.2rem;
  }

  .tabs-search {
    display: none;
  }

  .search-fields {
    gap: 2px;
    justify-content: center;
  }

  .discription {
    margin-top: 10px;
  }
  .header{
    margin-bottom: 10px;
  }

  .places-container {
    
  }
  .filters{
    gap: 8px;
    margin-bottom: 10px;
  }
  .container{
    margin: 10px;
  }
  .imagecontainer{
    width: 300px;
  }
  .imagecontainer img{
    width: 300px;
    height: 500px;
  }
  .travel-section{
    align-items: start;
    width: 95%;
    
  }
  .review {
    padding: 6px 5px; 
    font-size: 0.8rem;
    gap: 0;
  }

  .review1 {
    top: 15%; 
    left: -80px; 
  }

  .review2 {
    top: 45%;
    right: -30px;
  }

  .review3 {
    bottom: 15%; 
    left: -80px; 
  }

  .review img {
    width: 30px; 
    height: 30px; 
    margin-right: 18px; 
  }
  .feature-text h3 {
    font-size: 1rem;
    margin-bottom: 15px;
  }
  
  .feature-text p {
    max-width: 300px;
    font-size: 0.8rem;
  }
  .number{
    font-size: 16px;
    margin-bottom: 10px;
  }
  .feature{
    margin-bottom: 20px;
  }
  .explore-btn{
    font-size: 0.9rem;
    padding: 10px 15px
  }



}

@media (max-width: 768px) {
  .container {
    margin: 15px;
  }
  .Banner{
    margin: 0;
  }
  .navbar {
    padding: 10px 15px;
    font-size: 1.3rem;
    flex-direction: column; 
    align-items: flex-start; 
    position: relative; 
  }


  .logo {
    font-size: 1.8rem; 
    margin-bottom: 10px; 
    text-align: left; 
  }

  
  .links {
    display: none; 
    flex-direction: column;
    gap: 10px;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 50px; 
    left: 0;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; 
  }

  .links a {
    text-decoration: none;
    color: gray;
    padding: 10px 15px;
    display: block;
    width: 100%;
    text-align: left; 
  }

  .links a:hover {
    color: black;
    font-weight: bold;
  }


  .buttons {
    display: none; 
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }

  .buttons a {
    font-size: 1.2rem;
    padding: 8px 20px;
    gap: 10px;
    width: 100%;
    text-align: center; 
  }


  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 9999;
  }

  .hamburger div {
    width: 25px;
    height: 3px;
    background-color: gray;
  }

  .hamburger.active + .links {
    display: flex; 
  }

  .hamburger.active + .links + .buttons {
    display: flex; 
  }

  .Banner {
    border-color: red;
    border: 2px;
    height: 60vh;
  }

  .Banner img {
    height: 40vh;
  }

  .banner-heading {
    top: 40%;
  }

  .banner-heading h3 {
    font-size: 3vw;
  }

  .banner-subheading {
    top: 50%;
  }

  .banner-subheading p {
    font-size: 1.2vw;
  }

  .search-card{
    bottom:-60px;
    gap:5px;
  }
  .field span {
    font-size: 1rem;
  }

  .field select,
  .field input {
    padding: 10px 20px;
    font-size: 0.9rem;
  }

  .search-btn {
    padding: 5px;
    font-size: 0.9rem;
    width: 10%;
    margin-bottom: 5px;
  }

  .tabs span {
    font-size: 1.2rem;
  }

  .tabs-search {
    display: none;
  }

  .search-fields {
    gap: 0px;
    justify-content: start;
  }

  .field {
    flex-direction: column;
    /* padding: 0px;  */
  }

  .tabs {
    gap: 10px;
    justify-content: center;
  }
   .description{
    margin-bottom: 15px;
    font-size: 15px;
   }
   .header-container{
    display: block;
   }
   .popular-places{
    text-align: center;

   }
   .discription{
    margin: 0;
    margin-left:30px;
   }
   .places-container{
    justify-content: center;
   }
   .header_1{
    margin-top: 50px;
    margin-bottom: 20px;
   }
   .header_1 h1{
    font-size: 2rem;
    margin-bottom: 8px;
   }
   .header_1 p{
    font-size: 1.2rem;
   }
   .stamp-container{
    border:none;
   }
   .stamp-cards{
    width: 200px;
    height: auto;
   }
   .stamp-cards img{
    height: 200px;
   }
   .stamp-cards .small-photo{
    top:-30px;
    left:-30px;
    width: 70px;
    height: 70px;

   }
   .stamp-cards p{
    font-size: 1.2rem;
   }
   .stamp-container{
    margin-bottom: 50px;
   }
   .booking-title {
    font-size: 2rem;
    font-weight: 500;
   }
   .book-btn{
    font-size: 1rem;
    padding: 10px 15px;
   }
   .filter-icon{
    font-size: 0.9rem;
   }

}
@media (max-width: 480px){
  .Banner{
    margin:0px;
    justify-content: start;
    align-items: start;
  }
  .tabss{
    display: none;
  }
  .field{
    padding: 0px 8px;
  }
  .search-fields{
    display: block;
  }
  .search-btn {
    padding: 12px;

    cursor: pointer;
    font-size: 0.9rem;
    width: 30%;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
  }
  .header{
    margin-top:20px;
  }
  .popular-places{
    margin-top: 100px;
  }
  .discription{
    margin-left: 0px;
  }
  .discription p{
    font-size: 0.6rem;
  }
  .place-card h3{
    font-size: 1rem;
  }
  .location p{
    font-size: 0.9rem;
  }
  .location img{
    width: 12px;
    height: 12px;
  }
  .subtitle{
    margin-bottom: 20px;
  }
  .travel-section{
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }
  .review1 {
    left: -40px;
  }
  .review3{
    left: -40px;
  }
  .destination-grid{
    /* justify-content: center; */
    display: block;
    gap: 0px 0px;
  }
  .destination-card{
    margin-bottom: 10px;
  }
  .show-more-btn{

  }
  
}